.sidebar .text-black-bold {
    font-weight: 600;
}

.text-darkgrey-bold {
    color: #7c7c7c;
}


.filter {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}


.filter.hide {
    opacity: 0;
    pointer-events: none;
}

.vorbesitzerinOuter.hide {
    opacity: 0;
    pointer-events: none;
}


.topfilter {
    top: 20px;
    position: absolute;
    color: #5e5e5e;
    /* color: #C6C6C6; */
    z-index: 100;
    padding: 10px;
    /* background-color: #EFF2F3; */
    /* background-color: #4A4A4A; */
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topfilter .items {
    display: flex;
}

.topfilter .items>div {
    padding: 6px;
    cursor: pointer;
    margin: 2px;
    background-color: #FFF;
}

.topfilter .items>div.active {
    background-color: #939393;
    color: #FFF;
    /* background-color: #DAA520; */
    /* color: #333333; */
}

.topfilter div.hide {
    opacity: 0.4;
    pointer-events: none;
}

.topfilter .merge {
    display: flex;
}


.stiftungfamilieanderesOuter {
    left: 25px;
}

.raubkunstOuter {
    left: 300px;
}

.alteanonymemoderneOuter {
    left: 620px;
}

.emiOuter {
    top: 43px;
    left: 1000px;
    position: absolute;
}

.falschOuter {
    top: 3px;
    left: 1000px;
    position: absolute;
}


.vorbesitzerinOuter {
    /* top: 0px; */
    right: 0px;
    width: 300px;
    padding-top: 10px;
    padding-right: 20px;
    color: #5e5e5e;
    text-align: right;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

}


.vorbesitzerinOuter .items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.vorbesitzerinOuter .item {
    cursor: pointer;
    display: inline-flex;
    padding: 3px;
    line-height: 1;
    pointer-events: all;
}

.vorbesitzerinOuter .item.active {
    background-color: #939393;
    color: #fff;
}