.filter .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #939393;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.filter .header .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 1rem;
    flex-grow: 1;
}

.filter .select {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;

}

.filter .select label {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

#kaufer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
    color: #5e5e5e;
    z-index: 100;
    text-align: right;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#kaufer .list {
    display: flex;
    flex-direction: column;
}

#kaufer .kaufer {
    cursor: pointer;
    display: inline;
}

#kaufer .kaufer.active {
    background-color: #939393;
    color: #fff;
}