.sidebar .text-black-bold {
    font-weight: 600;
}

.text-darkgrey-bold {
    color: #ffffff;
}

.vorbesitzerin>.item {
    border: none !important;
}

.filter {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}


.filter.hide {
    opacity: 0;
    pointer-events: none;
}

.vorbesitzerinOuter.hide {
    opacity: 0;
    pointer-events: none;
}




.topfilter {
    top: 0px;
    position: absolute;
    color: #0000ff;
    /* color: #C6C6C6; */
    z-index: 100;
    padding: 10px;
    /* background-color: #EFF2F3; */
    /* background-color: #4A4A4A; */
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topfilter .title {
    margin-left: 5px;
}


.topfilter .items {
    display: flex;
}

.topfilter .items .item {
    padding: 5px 12px;
    cursor: pointer;
    margin: 2px;
    background-color: #FFF;
    border: 2px solid #0000ff;
    border-radius: 500px;
}

.topfilter .items .item.active {
    background-color: #0000ff;
    color: #FFF;
    /* background-color: #DAA520; */
    /* color: #333333; */
}

.topfilter .items .spacer {
    margin-left: 2em;
}

.topfilter .items .raubkunst {
    position: absolute;
    top: 8.5em;
}

.topfilter .items.raubkunst .item {
    padding: 5px 6px;
}

.topfilter div.hide {
    opacity: 0.4;
    pointer-events: none;
}

.topfilter .merge {
    display: flex;
}


.stiftungfamilieanderesOuter {
    left: 5px;
}

.verkauflandOuter {
    top: 70px;
    left: 35vw;
}

.raubkunstOuter {
    left: 35vw;
}

/* .raubkunstOuter .items {
     width: 50rem;
     flex-wrap: wrap;
} */

.alteanonymemoderneOuter {
    top: 70px;
    left: 5px;
}

.emiOuter {
    top: 43px;
    left: 1000px;
    position: absolute;
}

.falschOuter {
    top: 3px;
    left: 1000px;
    position: absolute;
}



.vorbesitzerinOuter {
    /* top: 0px; */
    right: 0px;
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.vorbesitzerinOuter .items.vorbesitzerin {
    max-width: 200px;
    align-self: flex-end;
    padding-bottom: 3rem;
}


.vorbesitzerinOuter .items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vorbesitzerinOuter .items .item:nth-of-type(2) {
    line-height: 1.3;
}

.vorbesitzerinOuter .item {
    cursor: pointer;
    display: inline-flex;
    padding: 3px;
    line-height: 1;
    pointer-events: all;
}

.vorbesitzerinOuter .item.active {
    background-color: #939393;
    color: #fff;
}