.pricescale {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}






.timeline.hide {
    display: none;
}

.timeline {
    z-index: 200;
    color: #000;
}

.timeline * {
    /* pointer-events:none; */
}

.timeline .container {
    /* overflow: hidden; */
    position: absolute;
}

.timeline .entry {
    /* transform: scale(0.5); */
    /* overflow: hidden; */
    /* font-size: 13px; */
    margin-bottom: 3%;
    width: 92%;
    position: relative;
    background: #F0ECDE;
    float: left;
    padding: 4%;
}

.timeline .title {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    /* padding: 4px; */
    /* padding-bottom: 2%; */
}

.timeline .text {
    font-family: 'Sharpbook', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    /* padding: 4px; */
    padding-top: 1em;
    line-height: 1.3em;
}

.timeline .year {
    transition: padding 0.2s;
    text-align: center;
    color: #0000ff;
    padding: 8%;
    /* border-bottom: 1px solid #eee; */
}

/*.none .entries {
    display: none; 
    opacity: 0;
  }*/

.timeline.none .small.title {
    display: none;
}

.timeline.none .middle,
.timeline.none .large {
    display: none;
}

.timeline.small .middle,
.timeline.small .large {
    display: none;
    opacity: 0;
}

.timeline.middle .small,
.timeline.middle .large {
    display: none;
    opacity: 0;
}

.timeline.large .small,
.timeline.large .middle {
    display: none;
    opacity: 0;
    /* visibility: hidden; */
}

.timeline .small,
.timeline .middle,
.timeline .large {
    transition: display 0s, opacity 1s;
}

.timeline.small .small {
    /* transform-origin: left top; */
    /* transform: scale(0.5); */
    font-size: 1em;
}

.timeline.middle .middle {
    font-size: 0.45em;
}

.timeline.large .large {
    font-size: 0.3em;
}

/*.timeline.small {
      font-size: 9px;
  }
  .timeline.middle {
      font-size: 14px;
  }
  .timeline.large {
      font-size: 19px;
  }*/


.timeline .small .title {
    font-size: 0.5em;
}

.timeline .middle .title {}





.timeline2 {
    /* backface-visibility: hidden; */
    will-change: inherit;
    position: absolute;
    transform-origin: left top;
    font-size: 9px;
    /* color: #FFF; */
    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
}

.timeline2 .inner {
    /* transform: scale(4); */
    transform-origin: left top;
}

.timeline2 .outer {
    /* transform: scale(0.25); */
    transform-origin: left top;
}


.timeline2 .container {
    width: 20px;
    text-rendering: optimizeSpeed;
    /* overflow: hidden; */
    /* margin: 1px; */
    /* will-change: inherit; */
    /* perspective: 600px; */
    /* transform-style: preserve-3d; */
    /* transition: all 0s linear; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    border-top: 1px solid rgba(243, 235, 214, 0.11);
    /* background: #fff; */
    transform-origin: left top;
    position: absolute;
    /* transform: scale(2); */
    /*-webkit-filter: blur(1);*/
    /* zoom:170%; */
}

.timeline2 .year {
    /* transform: initial!important; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: relative;
    /* left: 40%; */
    /* padding-left: 12px; */
    padding: 2px;
    color: #fff;
    transform-origin: left top;
    /* position: absolute; */
    /* transform: scale(2) translateZ(0); */
    /* transform: scale(2); */
    /* height: 4px; */
}

.timeline2 .entry {
    width: 100%;
    margin-bottom: 1px;
    padding: 1px;
    font-size: 0.1em;
    /* overflow: hidden; */
    position: relative;
    transform-origin: left top;
    background: #E5E3D2;
    color: #000;
    float: left;
}

.timeline2 .entries {
    float: left;
    width: 100%;
    /* float: left; */
    /* top: 0px; */
    position: relative;
    transform-origin: left top;
    /* top: 10px; */
}

.timeline2 .title {
    width: 100%;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.timeline2 .yearOuter {
    display: none;
    width: 22px;
    float: left;
}

.timeline2 .text {
    font-family: "lyon-text";
    display: none;
    /* padding-top: 0.7em; */
    /* font-size: 0.7em; */
}

.timeline2.middle .text,
.timeline2.large .text {
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

.timeline2 .extra {
    float: left;
    /* display: block; */
    font-family: "lyon-text";
    display: none;
    padding-top: 0.7em;
    /* font-size: 0.8px; */
}

.timeline2.large .extra {
    /* float: left; */
    display: block;
}